<% provide(:title, "Home") %>
<h1>The Scarlet & Black Dice Roller!!</h1>
<h2>Dice Result: <%= @result %></h2>
<h4 class="b">
  <%= link_to("Roll Again", {:controller => 'static_pages', :action => 'home'}) %>
</h4>