<% provide(:title, "Home") %>
<h1>The Scarlet & Black Dice Roller!!</h1>
<h2>Dice Result: <%= @result %></h2>
<h4 class="b">
  <%= link_to("Roll Again", {:controller => 'static_pages', :action => 'home'}) %>
</h4>

<h3>About</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed risus ultricies tristique nulla. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Duis ut diam quam nulla porttitor massa id neque aliquam. At lectus urna duis convallis. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. Lacus laoreet non curabitur gravida arcu ac. Volutpat ac tincidunt vitae semper quis. Vitae proin sagittis nisl rhoncus. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Vulputate mi sit amet mauris commodo. Sed lectus vestibulum mattis ullamcorper velit. Justo nec ultrices dui sapien eget mi. Proin libero nunc consequat interdum varius sit.</p>